export(average)
export(hillclimb)
export(least_ascent)
export(median_ascent)
export(neighbors)
export(pick_point)
export(profit)
export(profit_coeff)
export(profit_neighbors)
export(steepest_ascent)
exportClasses(landscape)
